// Example configuration file; rename this file to omphalos.json, then set
// the configuration as you wish.
//
// Values present in here are the default values for configuration options if
// the configuration item is not present in this file.
//
// See the documentation for more details.
{
  // When the application launches, it starts an internal web server to serve
  // the application UI and overlays; this specifies what port that server
  // listens on. On many operating systems, ports <= 1024 cannot be used as they
  // are reserved.
  "port": 3000,

  // When the application loads, the list of available bundles is scanned and
  // all eligible bundles are loaded. These configuration options allow you to
  // specify the path to bundles to load that are outside of the bundles folder,
  // and a list of bundles to not load if seen.
  "bundles": {
    // This list should be a list of paths that point at bundles; the path must
    // be either absolute OR a path that's relative to the install location of
    // the application.
    "additional": [],

    // A list of bundle names (taken from the package.json file) which, if
    // found, should not be loaded.
    "ignore": []
  },

  // When logging, this sets the level of detail that is presents in the log file
  // and what format for timestamps is used in the logs.
  "logging": {
    "level": "info",
    "timestamp": "YYYY-MM-DD HH:mm:ss.SSS",
    "console": true,
    "file": "%DATE%_omphalos.log"
  },

  // The host that the system is running on is always able to talk to the
  // back end. In order to allow other hosts through, you can add masks to
  // this array.
  //
  // Items in this list can be regular expressions if they start and end
  //  with the / character as they would in JS.
  // e.g.
  //    "origin": ["/chrome-extension:\/\/.*/","https://hoppscotch.io"]
  "cors": {
    "origin": []
  }
}